<footer>
  <div id="footer_zone">
    <span>[BoxMonitor] BETA | </span>
    <a href="https://github.com/emericg/BoxMonitor">github</a>
    <a href="http://nodejs.org/">nodejs</a>
    <span> | Emeric <<a href="mailto:emeric.grange@gmail.com">emeric.grange@gmail.com</a>></span>
  </div>
</footer>