<header>
  <div id="header_zone">
    <div id="title">
      <h1>[ BoxMonitor ]</h1>
      <h2>BETA</h2>
    </div>
    <nav>
      <ul>
        <li><a href="#">infos</a></li>
        <li><a href="#">realtime</a></li>
        <li><a href="#">logs</a></li>
        <li><a href="#">alerts</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>
  </div>
</header>