/* ******************************************************************** */

body {
  background-color: #F5F5F5;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* ********************************************************************* */
/* Header * Handheld *************************************************** */

@media (max-width: 720px) {

  header {
    background-color: #252525;
    width: 100%;
    height: 64px;
  }

  #header_zone {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* Header: title */

  #title {
    padding: auto;
    display: inline-block;
    height: 100%;
    color: #eeeeee;
  }

  #title h1 {
    display: inline-block;
    text-decoration: bold;
    margin-top: 4px;
    font-size: 1.8em;
  }

  #title h2 {
    display: inline-block;
    vertical-align: super;
    text-decoration: bold;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  /* Header: navigation */

  nav {
    color: white;
    background-color: #222222;
    display: block;
    height: 100%;
    font-size: 1em;
    margin-bottom: 1%;
  }

  nav ul {
    color: white;
    list-style-type: none;
  }

  nav li {
    color: white;
    display: inline-block;
    margin-right: 12px;
  }

  nav a {
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
  }

  nav a:hover {
    color: white;
    border-bottom: 2px solid white;
  }
}

/* ********************************************************************* */
/* Header * Desktop **************************************************** */

@media (min-width: 721px) {

  header {
    /*position: fixed;*/
    background-color: #252525;
    width: 100%;
    height: 48px;
  }

  #header_zone {
    width: 84%;
    height: 100%;
    min-width: 400px;
    margin-left: 8%;
    margin-right: 8%;
  }

  /* Header: title */

  #title {
    display: inline-block;
    float: left;
    height: 100%;
    color: #eeeeee;
  }

  #title h1 {
    display: inline-block;
    text-decoration: bold;
    margin-top: 4px;
    font-size: 2em;
  }

  #title h2 {
    display: inline-block;
    vertical-align: super;
    text-decoration: bold;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  /* Header: navigation */

  nav {
    color: white;
    display: inline-block;
    height: 100%;
    float: right;
    font-size: 1.4em;
    margin-top: 8px;
  }

  nav ul {
    color: white;
    list-style-type: none;
  }

  nav li {
    color: white;
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
  }

  nav a {
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
  }

  nav a:hover {
    color: white;
    border-bottom: 2px solid white;
  }
}

/* ******************************************************************** */
/* Page body ********************************************************** */

@media (max-width: 720px) {

  #page {
    background-color: #eeeeee;
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
  }
}

@media (min-width: 721px) {

  #page {
    background-color: #eeeeee;
    width: 84%;
    min-width: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
  }
}

section {
  min-height: 192px;
  margin-bottom: 3%;
}

/* ******************************************************************** */
/* Box elements ******************************************************* */

.box_wide {
  background-color: white;
  width: 100%;
  min-height: 192px;
  overflow: hidden;
}

@media (max-width: 720px) {

  .box_square {
    background-color: white;
    width: 100%;
    min-height: 192px;
    overflow: hidden;
  }

  .two_panes {
    display: block;
    margin-bottom: 1%;
  }

  .three_panes {
    display: block;
    margin-bottom: 1%;
  }
}

@media (min-width: 721px) {

  .box_square {
    float: left;
    background-color: white;
    display: inline-block;
    width: 49%;
    height: 192px;
    overflow: hidden;
  }

  .box_spacer {
    float: left;
    display: inline-block;
    min-width: 2%;
  }

  .two_panes {
    display: inline-block;
    min-width: 45%;
  }

  .three_panes {
    display: inline-block;
    min-width: 33%;
  }
}

/* ******************************************************************** */

@media (max-width: 720px) {

  .box_header {
    background-color: #252525;
    height: 48px;
    overflow: hidden;
  }

  .box_header .logo {
    width: 32px;
    height: 32px;
    margin: 8px;
    float: left;
  }

  .box_header .title {
    vertical-align: middle;
    height: 32px;
    margin-top: 8px;
    float: left;
    color: white;
  }

  .box_header .title h1 {
    font-size: 1em;
    font-weight: bold;
  }

  .box_header .title h2 {
    font-size: 0.8em;
  }

  .box_header .infos {
    vertical-align: middle;
    float: right;
    height: 32px;
    padding: 13px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
  }
}

@media (min-width: 721px) {

  .box_header {
    background-color: #252525;
    height: 64px;
    overflow: auto;
  }

  .box_header .logo {
    width: 32px;
    height: 32px;
    margin: 16px;
    float: left;
  }

  .box_header .title {
    vertical-align: middle;
    height: 48px;
    margin-top: 8px;
    float: left;
    color: white;
  }

  .box_header .title h1 {
    font-size: 1.4em;
    font-weight: bold;
  }

  .box_header .title h2 {
    font-size: 1em;
  }

  .box_header .infos {
    vertical-align: middle;
    float: right;
    height: 32px;
    padding: 16px;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
  }
}

/* ******************************************************************** */

@media (max-width: 720px) {

  .box_body {
    background-color: white;
    padding: 2%;
    font-size: 0.8em;
  }
}

@media (min-width: 721px) {

  .box_body {
    background-color: white;
    padding: 2%;
  }
}

.box_zone {
  background-color: #F5F5F5;
  border-top: 2px solid gray;
  margin-top: 2%;
  width: 100%;
  height: 128px;
}

/* ******************************************************************** */
/* Footer ************************************************************* */

footer {
  min-height: 64px;
  padding-top: 8px;
  border-top: 1px solid gray;
  background-color: #FFFFFF;
}

@media (max-width: 720px) {

  footer {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (min-width: 721px) {

  footer {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* ******************************************************************** */
/* Graphs ************************************************************* */

.chart_cpu rect {
  stroke: white;
  fill: #8ACB54;
}

.chart_mem rect {
  stroke: white;
  fill: #F98e4F;
}

/* ******************************************************************** */
/* Colors ************************************************************* */

.orange {
  color: #FFD435;
}

.pink {
  color: #9E82DE
}

.red {
  color: #F98e4F;
}

.green {
  color: #8ACB54;
}

.blue {
  color: #6EC9E7;
}

.dark {
  color: #252525;
}

/* ******************************************************************** */
